body {
    height: calc(100% - 50px);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

aside.languages {
    font: 0.8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    background: #000;
    opacity: 0.7;
    padding: 5%;
    padding-top: 5%;
    float: none;
    width: 90%;
    margin-left: 1em;
}

/*
.languages h3 {
    font-weight: normal;
    color: black;
    font-size: 3em;
    margin-bottom: 0.5em;
}
*/

/*
.languages h4 {
    font-weight: normal;
    color: black;
    font-size: 3em;
    margin-bottom: 0.5em;
}
*/

/*
.languages p {
    font-weight: normal;
    color: black;
    font-size: 2em;
    margin-bottom: 0.5em;
}
*/

#fname{
  height: 40px;
  width: 200px;
  border-radius: 5px;
}

#lname{
  height: 40px;
  width: 200px;
  border-radius: 5px;
}

#country{
  height: 40px;
  width: 200px;
  border-radius: 5px;
}

#submit{
  height: 40px;
  width: 100px;
  color: white;
  background-color: blue;
  border-radius: 5px;
}